@page
@model IndexModel
@{
    ViewData["Title"] = "Rockjuice - Blog";
}


<div class="post-container mb-3">
    
    
    @foreach (var post in Model.BlogPosts)
    {
        <div class="mb-3">
            <h2>@post.Title</h2>
            <p>@post.Content</p>
            @if (!string.IsNullOrEmpty(post.VideoUrl))
            {
                <iframe width="560" height="315" src=@post.VideoUrl title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            }
        </div>
    }
</div>
