@page
@model TeamModel
@{
    ViewData["Title"] = "The Team";
}
<h1>@ViewData["Title"]</h1>
@* path till vue i sig *@
<script type="module" src="lib/vue/vue.global.prod.js"></script>
@* Path till vår app *@
<script type="module" src="js/app.js"></script>

<div id="app">
    <v-about></v-about>
</div>



<div class="post-container text-center">
    <img class="m-3" src="images/teamRJ.jpg"/>
    <p>Embark on an exhilarating odyssey with our diverse multinational rock-climbing group, where passion for
        adventure converges with the artistry of scaling nature's towering masterpieces. Our eclectic team,
        hailing from various corners of the globe, fearlessly navigates breathtaking landscapes, conquering
        majestic cliffs and untamed rock formations. Immerse yourself in the essence of our escapades as we
        craft invigorating rock juices, distilling the pure thrill of vertical exploration.
        Stay captivated as we share occasional updates on our blog, unveiling the chronicles of our latest exploits.
        Each post unveils the heart-stirring narratives of our ascents, portraying the awe-inspiring vistas and
        triumphs over nature's challenges. Join us on this riveting journey, where the untold stories of our
        climbs echo against the rugged rocks. Revel in the spirit of exploration, anticipating the next cliffhanger
        moment as we redefine the boundaries of adventure. Get ready to be enthralled by the tales of resilience
        and camaraderie etched into the rocky canvases we scale. Stay tuned for the next chapter in our thrilling saga!.</p>
</div>

